body {
  margin: 0;
  font-family: system-ui;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

.site-header {
  background-color: #f3fdff5f;
  padding: 20px 0;
  position: fixed;
  top: 0;
  z-index: 100;
  width: 100%;
  font-size: 15px;
  font-family: 'Trebuchet MS';
}

.link{

  border-radius: 10px;
  padding: 5px;
  box-shadow: 5px 8px 15px 1px #000000ab;
  background-image: linear-gradient(#f3fdffab, #ffffff);
}

.container {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  width: 50px;
  height: 50px;
  background-image: url('img/logo.jpeg');
  background-size: cover;
  background-position: center;
  border-radius: 50px;
}

.main-nav ul {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 30px;
  margin: 0;
  padding: 0;
}

.main-nav a {
  color: black;
  text-decoration: none;
  font-weight: 600;
}

.photo-block {
  position: relative;
  width: 100%;
  height: 640px;
  background-image: url('img/eye-main.jpeg');
  background-size: cover;
  background-position: center center;
}

.photo-text {
  position: absolute;
  bottom: 20px;
  left: 20px;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 30px;
  border-radius: 8px;
  max-width: 90%;
  font-size: 20px;
  font-family: 'Trebuchet MS';
}

.start-button {
  padding: 12px 70px; /* Отступы сверху/снизу и слева/справа для овальной формы */
  font-size: 20px;
  font-family: 'Trebuchet MS';
  font-weight: bold;
  color: white;
  background-color: #6772e5;
  border: none;
  border-radius: 50px; /* Большое скругление для овала */
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.start-button:hover {
  background-color: #555dc1;
}

.common-info-header {
  text-align: center;
  width: 100%;
  font-size: 23px;
  font-family: 'Trebuchet MS';
}

.common-info-main {
  border-left: 20px solid #72adb5;
  padding-left: 10px;
  height: fit-content;
  display: inline-block;
  display: flex;
  height: 130px;
  align-items: center;
  text-align: center;
  background-color: #f3fdff;
  font-size: 16px;
  font-family: 'Trebuchet MS';
  padding: 5px;
}

.why-info-header {
  text-align: center;
  font-size: 23px;
  font-family: 'Trebuchet MS';
}

.why-info-body {
  background-color: #f3fdff;
  display: flex;
  justify-content: space-between;
  max-width: 1500px;
  margin: 20px auto;
}

.item {
  flex: 1;
  display: flex;
  align-items: center;
  text-align: center;
  padding: 10px;
  gap: 15px;
  margin-bottom: 10px;
}

.circle {
  width: 50px;
  height: 50px;
  background-color: #6772e5;
  border-radius: 50%;
  color: white;
  font-size: 24px;
  line-height: 50px; /* Центрирует цифру вертикально */
  font-weight: bold;
  margin: 0px;
  flex-shrink: 0;
}

.text {
  font-size: 16px;
  padding: 5px;
  font-family: 'Trebuchet MS';
}

.features {
  display: flex;
  justify-content: space-between;
  font-family: 'Trebuchet MS';
  background-color: #f3fdff;
}

.feature {
  flex: 1;
  align-items: left;
  text-align: left;
  padding: 50px;
  background-color: #95c1c7;
  margin: 30px;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.feature:hover {
  background-color: #72adb5;
}

.feature-text{
  font-size: 16px;
}

.feature-text-header{
  font-size: 23px;
  font-weight: bold;
}

.security-img {
  width: 40px;
  height: 40px;
  background-image: url('img/security.png');
  background-size: cover;
}

.trustability-img {
  width: 40px;
  height: 40px;
  background-image: url('img/trustability.png');
  background-size: cover;
}

.speed-img {
  width: 40px;
  height: 40px;
  background-image: url('img/speed.png');
  background-size: cover;
}

.about-us-header {
  text-align: center;
  width: 100%;
  margin-top: 40px;
  margin-bottom: 10px;
  font-size: 30px;
  font-family: 'Trebuchet MS';
  font-weight: bold;
}

.about-us-info{
  border-left: 20px solid #72adb5;
  background-color: #f3fdff;
  padding-left: 10px;
  height: fit-content;
  display: inline-block;
  display: flex;
  height: 130px;
  align-items: center;
  text-align: center;
  font-size: 16px;
  font-family: 'Trebuchet MS';
  font-weight: bold;
  padding: 5px;
}


.contacts-header {
  text-align: center;
  width: 100%;
  margin-top: 0px;
  font-size: 23px;
  font-family: 'Trebuchet MS';
 }

.contacts-info {
  margin-top: 10px;
  margin-left: 10px;
  padding-bottom: 50px;
  font-size: 16px;
  font-family: 'Trebuchet MS';
  font-weight: bold;
  text-align: center;
}

.m{
  background-image: url('img/arkii-razmytyi-krasocnyi-fon-oboev.jpg');
  background-color: #ddf5ff;
}
.warning {
  align-items: center;
  text-align: center;
  font-size: 10px;
  font-family: 'Trebuchet MS';
  padding: 5px;
  background-color: #f3fdff;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}

.workZone {
  display: flex;
  justify-content: space-between;
  margin-left: 160px;
  margin-right: 220px;
}

.workZoneMain {
  background-image: url('img/arkii-razmytyi-krasocnyi-fon-oboev.jpg');
  padding-bottom: 40px;
  min-height: 100vh;
  box-sizing: border-box;
  padding-top: 20px;
  align-items: center;
}

.workZoneInfo {
  margin-left: 300px;
  margin-right: 300px;
  border-radius: 10px;
  margin-top: 90px;
  text-align: center;
  font-size: 25px;
  font-family: 'Trebuchet MS';
  padding: 10px;
  background-color: #f3fdff;
}

.arrowWork {
  padding: 10px;
}